%flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
}
%flexCol {
    display: flex;
    flex-direction: column;
}

body{
    @extend %flexRow;
    font-size: 3.75rem;
    margin: 0;
    background: #000;
    font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
    // font-family: 'Iowan Old Style', 'Palatino Linotype', P052, serif;
    height: 100vh;
    image-rendering: pixelated;
    white-space: pre-wrap;
}

.C--mainWrapper{
    @extend %flexRow;
    position: relative;
}


.C--topLeft{
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #fff;
}

.C--sidebar{
    @extend %flexCol;
    background: #111;
    color: #eee;
}
    .C--sidebarTitle{
        font-size: 7rem;
    }

    .C--hoverInfoArea{
        height: 60rem;
    }

    .C--runeBook{
        @extend %flexCol;
        flex-shrink: 1;
        overflow: auto;
        padding: 1rem 3rem;
        gap: 3rem;
    }

        .C--runeListing{
            @extend %flexRow;
            justify-content: space-between;
        }
    // .C--towerName{
    //     font-size: 4.5rem;
    // }

    .C--runeButtonRow{
        display: flex;
        justify-content: space-evenly;
    }

    .C--runeButtonWrapper{
        @extend %flexCol;
        text-align: center;

        canvas{
            width: 12rem!important;
            cursor: pointer;
            border: 1px solid #444;

            &:hover{
                background: #fff2;
            }
        }
    }

    .C--runeButtonActive canvas{
        border: 1px solid #ccc;
    }

    .C--runeButtonTooExpensive {
        color: #e00;
    }
    .C--runeButtonTooExpensive canvas{
        filter: grayscale(1);
    }
