%flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
}
%flexCol {
    display: flex;
    flex-direction: column;
}

body{
    @extend %flexRow;
    font-size: 3.75rem;
    margin: 0;
    background: #000;
    font-family: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif;
    // font-family: 'Iowan Old Style', 'Palatino Linotype', P052, serif;
    height: 100vh;
    image-rendering: pixelated;
    white-space: pre-wrap;
    color: #eee;
}

.C--mainWrapper{
    // @extend %flexRow;
    position: relative;
    background: #273757;
}


.C--topLeft{
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.C--sidebar{
    @extend %flexCol;
    position: absolute;
    inset: 0 0 0 auto;
    width: 60rem;
}
    .C--manaOrb{
        line-height: 1;
        font-size: 5rem;
        margin: 5rem 0 5rem 16rem;
        color: #94d6ff;
    }

    .C--sidebarTitle{
        font-size: 7rem;
    }

    .C--hoverInfoArea{
        height: 60rem;
    }

    .C--runeBook{
        @extend %flexCol;
        flex: 1 1 0;
        overflow: auto;
        padding: 1rem 2rem 1rem 3rem;
        gap: 3rem;
        margin: 0 1rem 1rem 0;
    }

        .C--runeListing{
            @extend %flexRow;
            justify-content: space-between;
        }
    // .C--towerName{
    //     font-size: 4.5rem;
    // }

    .C--spellArea{
        padding: 1rem 2rem 2rem;
        @extend %flexCol;
        gap: 1rem;
    }

        .C--runeButtonRow{
            @extend %flexRow;
            justify-content: space-between;
            color: #94d6ff;
        }

        .C--runeButtonWrapper{
            @extend %flexCol;
            text-align: center;
            gap: 1rem;

            canvas{
                width: 12rem!important;
                cursor: pointer;
                border: 0.5rem solid #202020;

                &:hover{
                    background: #0004;
                }
            }
        }

            .C--runeButtonActive canvas{
                border: 0.5rem solid #94d6ff;
                background: #0004;
            }

            .C--runeButtonTooExpensive {
                color: #888;
            }

            .C--runeButtonTooExpensive.C--runeButtonActive canvas{
                border: 0.5rem solid #888;
            }
            // .C--runeButtonTooExpensive canvas{
            //     filter: grayscale(1);
            // }
